.rules_div{
    width:600px;
    height:114px;
    background-color:rgba(251, 241, 241, 1);
    padding:3px;
    display:flex;
    flex-direction: column;
    display:none;
}
.rules_div p{
    font-weight:700;
}
.rules_content ul{
    display:flex;
    flex-direction: column;
    font-weight:500;
    font-size:12px;
    overflow: hidden;
    line-height: 19px;
}
